/* src/index.css */
@import "tailwindcss";
@import "./styles/theme.css";

/* Base layout and font adjustments */
html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell,
    "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  background-color: #f9fafb; /* subtle gray background */
  color: #111827; /* neutral text color */
}
